#timer span {
  font-family: Slackey;
  color: #ebd4b6;
  text-align: center;
  font-size: 2vw;
  height: 5%;
  width: 100%;
}

@keyframes pulse {
  from {
    transform: scale(0.96);
  }
  to {
    transform: scale(1.04);
  }
}
